@import "tailwindcss";


/* === Blueberry Pastel Palette === */
@theme {
  --color-crypto-lavender: #B4B8E7;
  --color-crypto-lightLavender: #D6D9EF;
  --color-crypto-lavenderGray: #F5F6FA;
  --color-crypto-darkGray: #555555;
  --color-crypto-navy: #3D405B;
  --color-crypto-pureWhite: #FFFFFF;

    /* 추가 색상 (그래프/신호용) */
  --color-crypto-blue: #8295E0;   /* mention */
  --color-crypto-green: #A3D9A5;  /* volume/긍정 */
  --color-crypto-red: #E8A0A0;    /* fear/부정 */
}

/* 배경 및 텍스트 색상 */
body {
  @apply bg-crypto-lavenderGray text-crypto-darkGray leading-relaxed;
  word-break: keep-all;
}